{% extends "base.html" %}

{% block javascript %}
<script type="text/javascript">
  function fetchMedium(medium, cat) {
    cat = cat || '';
    // define all urls
    var urls = {"music": "{% url weekly_music %}"};
    {% for system in systems %} 
      urls["games{{ system }}"] = "{% url weekly_games category=system %}";
    {% endfor %}
    

    $.getJSON(urls[medium + cat], function (data) {
      var new_row = '<ul>';

      $.each(data, function () {
        new_row += '<li>';
        new_row += '<a href="' + this.link + '" title="Review">' + this.title + '</a> - ' + this.date;
        new_row += '</li>';
      });

      new_row += '</ul>';
      var elem = $('#' + medium + cat);
      elem.append(new_row);
      elem.show("slow");
    });
  }

  $(document).ready(function () {
    // define all game systems
    var systems = [];
    {% for system in systems %} 
      systems.push("{{ system }}");
    {% endfor %}
    
    fetchMedium('music');

    $.each(systems, function () {
      fetchMedium('games', this);
    });

    // round corner
    $('.box').corner();
  });
</script>
{% endblock %}

{% block content %}

<div class="row">
  <div class="left-cell box">
    <h2>Music</h2>

    <div id="music" style="display: none;">
    </div>
  </div>

  <div class="left-cell box">
    <h2>Xbox 360 Games</h2>

    <div id="gamesxbox" style="display: none;">
    </div>
  </div>
</div>

<div class="row">
  <div class="left-cell box">
    <h2>Wii Games</h2>

    <div id="gameswii" style="display: none;">
    </div>
  </div>

  <div class="left-cell box">
    <h2>DS Games</h2>

    <div id="gamesds" style="display: none;">
    </div>
  </div>
</div>

<div class="row">
  <div class="left-cell box">
    <h2>PS3 Games</h2>

    <div id="gamesps3" style="display: none;">
    </div>
  </div>

  <div class="left-cell box">
    <h2>PC Games</h2>

    <div id="gamespc" style="display: none;">
    </div>
  </div>
</div>

<div class="row">
</div>

{% endblock %}
