<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <title>{% block title %}Entertain{% endblock %}</title>
  <script type="text/javascript" src="{{ MEDIA_URL }}jquery.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}curvy.js"></script>
  <link type="text/css" href="{{ MEDIA_URL }}custom.css" rel="stylesheet" />
  {% block javascript %}{% endblock %}
</head>
<body>

  <div id="header">
    <div class="row">
      <div class="logo">
        <h1><a href="/">Entertain</a></h1>
      </div>
      <div class="tagline">
        The latest in entertainment.
      </div>
    </div>
    <div class="row"></div>
  </div>

  <hr/>

  {% block content %}
  {% endblock %}

  <div id="footer">
    {% block footer %}
      <hr />
      <p>&copy; Samuel Fortier Galarneau {% now "Y" %}</p>
    {% endblock %}
  </div>

</body>
</html>
