<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <title>{% block title %}Entertain{% endblock %}</title>
  <script type="text/javascript" src="{{ MEDIA_URL }}jquery.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}elastic.js"></script>
  <link type="text/css" href="{{ MEDIA_URL }}elastic.css" rel="stylesheet" />
  {% block javascript %}{% endblock %}
</head>
<body>

  <h1><a href="/">Entertain</a></h1>
  The latest in entertainment.
  <hr />

  {% block content %}
  {% endblock %}

  <div id="footer">
    {% block footer %}
      <hr />
      <p>&copy; Samuel Fortier Galarneau {% now "Y" %}</p>
    {% endblock %}
  </div>

</body>
</html>
